__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
.env
.env.production
db.sqlite3
staticfiles/
logs/*.log
media/products/*
media/documents/*
node_modules/
.pytest_cache/
htmlcov/
.coverage
*.swp
*.swo
